.adminPage {
  background: #023C40;

  p,th,td{
    color: #fff;
  }
  
  .btn {
    background-color: #f44336;
    color: #fff;
    &:hover {
      background-color: #fff;
      border: 2px solid #f44336;
      color: #f44336;
    }
  }

  p{
    color: #fff;
  }
  .card {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
    .btn {
      background-color: #f44336;
      color: #fff;
      &:hover {
        background-color: #fff;
        border: 2px solid #f44336;
        color: #f44336;
      }
    }
  }
}
