.loginPage{
    background: #A1FCE0;
    background: linear-gradient(-225deg, #87D9C1, #C1C18F);
    
    form{
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 4px 4px 20px 5px rgba(0,0,0,0.2);
    }
}