@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import "./login";
@import "./admin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// body{
//     background: #A1FCE0;
//     background: linear-gradient(-225deg, #87D9C1, #C1C18F);
// }
